@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: row;
}

@mixin icon-img {
    width: 20px;
    height: 20px;
}