
@use './index.scss' as *;
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  
  p {
    color: $smallTextColor;
    font-size: 1rem;
  }
  
  h1,
  h2 {
    font-size: $headingFontSize;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  

  h3.title-section {
    text-align: center;
    text-transform: capitalize;
    color: $primaryColor;
    font-weight: 600;
    margin: 30px auto;
  }